@import '../../index.scss';

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $MAIN_LIGHT_CREAM_COLOR;
  padding: 20px 0;
  font-size: 14px;
  color: $BLACK;

  .footer_github_link {
    position: relative;
    text-decoration: none;
    color: $MAIN_GRAY_COLOR;

    &::after {
      content: '';
      width: 0%;
      height: 1px;
      background-color: $MAIN_GRAY_COLOR;
      position: absolute;
      left: 50%;
      bottom: 2px;
      transition: 0.1s ease-out;
    }

    &:hover {
      color: $MAIN_BLUE_COLOR;
      &::after {
        background-color: $MAIN_BLUE_COLOR;
        left: 0;
        width: 100%;
      }
    }
  }
}
