@import '../../../index.scss';

.loader_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

   .loader_title {
    margin-top: 15px;
    font-size: 20px;
    color: $MAIN_BLUE_COLOR;
    animation: blink 3s linear infinite;
  }
}

@keyframes blink {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }
}
