@import '../../index.scss';

.main_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 25px;

  background-color: $MAIN_DARKCREAM_COLOR;
  border-radius: 10px;

  .table_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .table_title_item {
      color: #000;
      font-size: 18px;
      text-align: center;

      &.item_empty {
        flex: 0 0 5%;
      }

      &.item_name {
        flex: 0 0 25%;
      }

      &.item_band {
        flex: 0 0 25%;
      }

      &.item_album {
        flex: 0 0 15%;
      }

      &.item_year {
        flex: 0 0 15%;
      }

      &.item_format {
        flex: 0 0 15%;
      }
    }
  }
}
