@import '../../index.scss';

@mixin headerFunctionLinks {
  display: flex;
  align-items: center;

  height: 100%;

  font-weight: 600;
  text-decoration: none;
  text-wrap: nowrap;

  padding: 0 20px;
  border-radius: 10px;

  transition: 0.3s linear;
  color: $MAIN_GRAY_COLOR;
  background-color: $MAIN_DARK_CREAM_COLOR;

  &:hover {
    color: $MAIN_BLUE_COLOR;
    filter: contrast(105%) drop-shadow(0 0 5px $MAIN_DARK_CREAM_COLOR);
  }
}

.header_wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $MAIN_LIGHT_CREAM_COLOR;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0 auto;
    padding: 20px 100px;
    max-width: 1920px;

    .header_logo_content {
      display: flex;

      gap: 15px;
      cursor: pointer;

      .header_logo {
        width: 45px;
        height: 45px;
      }

      .header_name {
        font-size: 24px;
        text-decoration: none;
        color: #000;

        span {
          font-size: 28px;
          font-weight: bold;
        }
      }
      transition: 0.3s linear;
      &:hover {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
      }
    }
    .header_function_content {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      height: 45px;

      .header_user_profile {
        @include headerFunctionLinks;
        justify-content: space-between;
        gap: 10px;

        .header_user_avatar {
          width: 30px;
          height: 30px;
        }
      }

      .header_log_out_link {
        @include headerFunctionLinks;
        justify-content: center;
      }
    }
  }
}
