@import '../../index.scss';

.header_wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $MAIN_LIGHTCREAM_COLOR;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 100px;
    max-width: 1920px;

    .header_logo_content {
      display: flex;
      flex: 1 1 70%;

      gap: 15px;
      cursor: pointer;

      .header_logo {
        width: 45px;
        height: 45px;
      }

      .header_name {
        font-size: 24px;
        span {
          font-size: 28px;
          font-weight: bold;
        }
      }
    }
    .header_function_content {
      display: flex;
      flex: 1 1 30%;
      gap: 20px;
      align-items: center;
      justify-content: end;

      .header_input_block {
        display: flex;
        gap: 5px;
        color: $MAIN_GRAY_COLOR;

        .header_input_search {
          cursor: pointer;
          transition: 0.2s ease-out;
        }

        &:hover {
          .header_input_search {
            color: $MAIN_BLUE_COLOR;
          }
        }
      }

      .header_log_out_link {
        text-decoration: none;
        white-space: nowrap;
        background-color: $MAIN_DARKCREAM_COLOR;
        padding: 8px 20px;
        border-radius: 10px;
        font-size: 18px;
        color: #000;
        transition: 0.3s linear;

        &:hover {
          background-color: $MAIN_DARKCREAM_HOVER_COLOR;
          color: $MAIN_BLUE_COLOR;
        }
      }
    }
  }
}
