@import '../../index.scss';

.main_container {
  flex: 1 1 auto;
  padding-top: 75px;
  margin: 0 100px;

  .main_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: $MAIN_BACKGROUND_COLOR;
  }
}
